openapi: 3.0.0
info:
  title: Get File Preview URL
  description: Server-side proxy for getting SharePoint Embedded preview URLs
  version: 1.0.0
servers:
- url: https://spaarkedev1.crm.dynamics.com
paths:
  /api/data/v9.2/sprk_documents({sprk_documentid})/Microsoft.Dynamics.CRM.sprk_GetFilePreviewUrl:
    get:
      tags:
      - sprk_GetFilePreviewUrl
      summary: Get File Preview URL
      description: Server-side proxy for getting SharePoint Embedded preview URLs
      operationId: sprk_GetFilePreviewUrl
      parameters:
      - name: sprk_documentid
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Uuid'
        description: 'key: sprk_documentid'
        x-ms-docs-key-type: sprk_document
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  PreviewUrl:
                    type: string
                    description: Ephemeral preview URL (expires in ~10 minutes)
                  FileName:
                    type: string
                    description: File name for display
                  ExpiresAt:
                    $ref: '#/components/schemas/DateTime'
                    description: When the preview URL expires (UTC)
                  CorrelationId:
                    type: string
                    description: Request tracking ID for tacing and debugging
                  FileSize:
                    $ref: '#/components/schemas/Int32'
                    description: File size in bytes
                  ContentType:
                    type: string
                    description: MIME type
        400:
          description: Bad Request
        401:
          description: Unauthorized
        500:
          description: Internal Server Error
components:
  schemas:
    Uuid:
      type: string
      format: uuid
      pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
    DateTime:
      type: string
      format: date-time
      pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
    Int32:
      type: integer
      format: int32
      maximum: 2147483647
      minimum: -2147483648
